<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>{{template "title" .}}</title>

	<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
	<link href="/static/css/main.css" rel="stylesheet" id="bootstrap-css">
	<link href="/static/css/ribbon.css" rel="stylesheet" id="gitlab-ribbon-css">
	<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
	<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

	<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
	<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
	<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<![endif]-->
</head>

<body>

<a class="gitlab-fork-ribbon right-top" href="https://gitlab.com/age-of-devops/flamingo-product-rating/" data-ribbon="View on GitLab" title="View on GitLab">View on GitLab</a>

<div class="container">

	{{template "content" .}}

</div> <!-- /container -->


<hr>
<div class="container text-center text-muted" style="padding-bottom: 25px">
	<div><small>Made with <a href="https://www.flamingo.me/">flamingo</a> and <a href="https://getbootstrap.com/">bootstrap</a></small></div>
	<div><small>User images by <a href="https://randomuser.me/">randomuser.me</a></small></div>
	<div><small>Sample data by <a href="https://datafiniti.co/">datafiniti</a> under <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/">CC BY-NC-SA 4.0</a></small></div>
</div>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
</body>
</html>
